name: SonarCloud

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  sonar:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
          cache: maven

      - name: Start MongoDB
        run: docker run -d -p 27017:27017 --name mongo mongo:4.4

      - name: Build and analyze
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mvn -B test org.sonarsource.scanner.maven:sonar-maven-plugin:sonar \
            -Dsonar.projectKey=kanchanraiii_EGovGrievance_Backend \
            -Dsonar.organization=kanchanraiii \
            -Dsonar.host.url=https://sonarcloud.io \
            -DskipTests=false
